{% extends "layouts/main.twig" %}

{% set body_modifier_class = 'page_home' %}

{% block title %}Главная{% endblock %}


{% block content %}

    <layers inline-template>
        <div class="layers">
            <div class="container" id="container">
                <div class="layer" id="intro">
                    {# INTRO #}
                    {% include 'components/intro.twig' %}
                    {# Endof: INTRO #}
                </div>


                <stories inline-template @stories-loaded="onStoriesLoaded">
                    <div class="stories">
                        <div class="layer" v-for="s, i in stories">
                            <vue-story 
                                :key="s.id"
                                :index="i" 
                                :context="s" 
                                :stories-total="storiesTotal" 
                            ></vue-story>
                        </div>
                    </div>
                </stories>

                <div class="layer m-hidden">
                    <vue-list></vue-list>
                </div>

                <footer class="footer">
                    {# Place for credits and logo #}
                </footer>
            </div>
        </div>
    </layers>

    {# LOADER #}
    <loader :show-loader="showLoader"></loader>
    {# Endof: LOADER #}

{% endblock %}

