<script type="text/x-template" id="vue-story-template">
    <div class="layout m-decorated">
        {# SIDEBAR #}
        <div class="layout__aside">
            {% set sidebar_modifiers = 'no-arrow' %}
            {% include 'components/pseudo-sidebar.twig' %}
        </div>
        {# Endof: SIDEBAR #}

        {# CONTENT #}
        <div class="layout__content">
            <article class="article">
                <div class="article__columntitle">
                    <span>#ИсторииПобеды</span>
                </div>
                
                <div class="article__nav">
                    {% include 'components/menu-link.twig' %}
                </div>

                <div class="article__grid">

                    <div class="article__photo">
                        {# <div class="article-photo" v-if="showCovers">
                            <ul class="article-photo__list" :class="coversCount">
                                {% verbatim %}
                                    <li class="article-photo__item" v-for="photo, i in context.covers">
                                        <div class="article-photo__wrapper">
                                            <img 
                                                class="article-photo__img" 
                                                :src="photo" 
                                                :alt="context.title" 
                                            >
                                        </div>
                                    </li>
                                {% endverbatim %}
                            </ul>
                        </div> #}
                    </div>

                    <div class="article__content">
                        {% verbatim %}
                            <h1 class="article__title">{{ context.title }}</h1>
                            <div class="article__text" v-html="context.text"></div>
                        {% endverbatim %}
                    </div>

                </div>
            </article>
        </div>
        {# Endof: CONTENT #}
    </div>
</script>
