.layer {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    will-change: transform;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

    &.m-hidden {
        display: none;
    }
}
